body {
    background: #fff;
    margin: 0;
    font-family: sans-serif;
}

header.main {
    border-bottom: 1px solid #78C0A8;
    text-align: center;
    background: #0f7251;
    color: white;
    margin-bottom: 40px;
}

header.main h1{
    margin: 0;
    padding: 20px;
}

header.main h1 a{
    color:white;
    text-decoration: none;
}

header.main h2{
    margin: 0;
    padding: 0 0 20px;
    font-size: 18px;
    font-weight: lighter;
    font-style: italic;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
.otro-blockquote{
    font-size: 1.4em;
    width: 60%;
    max-width: 650px;
    margin: 50px auto;
    font-family: Open Sans;
    font-style: italic;
    color: #555555;
    padding: 1.2em 30px 1.2em 75px;
    border-left: 8px solid #78C0A8;
    line-height: 1.6;
    position: relative;
    background: #EDEDED;
    box-sizing: border-box;
}

.otro-blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:#78C0A8;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

.otro-blockquote::after{
  content: '';
}

.otro-blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

.otro-blockquote a {
    color: #555555;
    text-decoration: none;
}

.otro-blockquote a:hover {
    text-decoration: underline;
}

.related-quotes {
    max-width: 650px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.related-quotes blockquote {
    font-size: 1em;
}

.related-quotes blockquote:first-child {
    margin-right: 1em;
}

.related-quotes blockquote:last-child {
    margin-left: 1em;
}

.pagination {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.pagination li {
    display: inline-block;
}

.pagination li a {
    color:white;
    text-decoration: none;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #77c0a8;
    border-radius: 100%;
    text-align: center;
    line-height: 30px;
    margin: 0 5px;
}

.pagination li.current a{
    background-color: white;
    color: #77c0a8;
    border:1px solid #77c0a8;
}

.footer {
    margin-top: 40px;
}