<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Napoléon 1er - Citations de l'Empereur</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Handlebars for golang. Contribute to aymerick/raymond development by creating an account on GitHub.">
    <link rel="icon" class="js-site-favicon" type="image/svg+xml" href="https://github.githubassets.com/favicons/favicon.svg">
    <link  rel="stylesheet" href="style.css" />

    <meta property="og:locale" content="fr_FR" />
    <meta property="og:title" content="{{og.title}}" />
    <meta property="og:url" content="{{og.url}}" />
    <meta property="og:description" content="{{og.description}}" />


</head>
<body>
<header class="main">
    <h1><a href="index.html">Citations Napoleon</a></h1>
    <h2>Les plus grandes citations de l'Empereur des français</h2>
</header>